@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="frame-3931">
        <img class="frame-3931_img" src="~/image/CES_Floating_Windows 1.png" />
        <div class="frame-3931-rec" ></div>
        <img class="frame-3931-br" src="~/image/Brand.png" />
        <div class="frame-3931-1">Máy tính xách tay trang bị bộ xử lý Intel® Core™ thế hệ thứ 12</div>
        <div class="frame-3931-2">Được thiết kế cho thế hệ chơi game mới.</div>
        <img class="frame-3931-in" src="~/image/Frame_3931_3.png" />
    </div>

    <div class="frame-3962">
        <div class="frame-3962-1">
            <span class="frame-3962-11">Bộ xử lý Intel® CoreTM thế hệ thứ 12</span>
            <span class="frame-3962-12">Hiệu năng đột phá</span>
            <span class="frame-3962-13">Chọn Máy tính Intel Gen 12</span>
        </div>
        <div class="frame-3962-2"></div>
    </div>

    <div class="frame-3932">
        <div class="frame-3932-1">Hiệu năng thay đổi cuộc chơi.</div>
        <div class="frame-3932-2">
            Chơi game và đa nhiệm mà không bị ảnh hưởng nhờ kiến trúc lai hiệu năng mới của Intel.
        </div>
        <img class="frame-3932-img" src="~/image/H2_Panel_2_Angle_2 1.png" />
        <div class="frame-3932-la"></div>
    </div>


    <div class="frame-39322">
        <div class="frame-39322-1">Efficient-core</div>
        <div class="frame-39322-2">Performance-core</div>
        <img class="frame-39322-img-1" src="~/image/Intel® Thread Director 1.png"/>
        <img class="frame-39322-img-2" src="~/image/Layer 12 copy 2 1.png"/>
        <span class="frame-39322-3">
            Tối ưu và quản lý các khối<br />
            lượng công việc, gửi tác vụ<br />
            đến lõi tốt nhất để xử lý.²
        </span>
        <img class="frame-39322-img-3" src="~/image/Group 50 1.png"/>
        <span class="frame-39322-4">
            Kiến trúc lai hiệu năng mới của Intel kết hợp hai dòng lõi chủ đạo vào một CPU duy nhất,<br/> 
            giúp mọi hoạt động trong vũ trụ game của bạn diễn ra mượt mà.¹
        </span>
       
        <span class="frame-39322-5">E-core được tối ưu nhằm đạt<br /> hiệu năng đa luồng, giảm thiểu <br />gián đoạn do các tác vụ phụ.</span>
       
        <span class="frame-39322-6">
            P-core được thiết kế để đạt<br />
            hiệu năng nhằm đáp ứng<br />
            các khối lượng công việc đơn lẻ<br />
            và phân luồng nhẹ, cải thiện<br />
            các hoạt động như chơi game<br />
            và làm việc.
        </span>

        <div class="frame-39322-7">Phân chia và chinh phục.</div>
        <img class="frame-39322-img-4"src="~/image/Panel 3 Screen Boxes 6P8E 1.png"/>
        <img class="frame-39322-img-5" src="~/image/Layer 569 1.png"/>
    </div>


    <div class="frame-3933">
        <div class="frame-3933-1">
            <div class="frame-3933-11">Công nghệ không dây không ngại đối thủ</div>
            <span class="frame-3933-12">Hỗ trợ công nghệ Intel® Killer™ Wi-Fi 6/6E để chơi game ít giật lag và độ trễ thấp hơn.³</span>
            <img class="frame-3933-1-img" src="~/image/Triangle 1 copy 2 3.png"/>
            <div class="frame-3933-14">
                <img class="frame-3933-14-img1" src="~/image/Layer 12 copy 2 2.png"/>
                <img class="frame-3933-14-img2" src="~/image/Group 50 2.png"/>
            </div>
        </div>
        <div class="frame-3933-2">
            <div class="frame-3933-21">Sử dụng ở mọi nơi</div>
            <span class="frame-3933-22">
                Dễ dàng kết nối với các thiết bị ngoại vi và nhiều<br/>
                màn hình 4K có hỗ trợ công nghệ Thunderbolt™ 4.
            </span>

            <img class="frame-3933-2-img" src="~/image/Triangle 1 copy 2 2.png" />
            <div class="frame-3933-24">
                <img class="frame-3933-24-img1" src="~/image/Layer 12 copy 2 2.png" />
                <img class="frame-3933-24-img2" src="~/image/Group 50 2.png" />
            </div>
        </div>

        <div class="frame-3933-3">Sẵn sàng đón nhận những điều mới mẻ</div>
        <span class="frame-3933-4">Hỗ trợ DDR5 cung cấp tốc độ và hiệu năng ở đẳng cấp mới.</span>
        <img class="frame-3933-img-1" src="~/image/Triangle 1 copy 2 1.png"/>
        <div class="frame-3933-5">
            <img class="frame-3933-5-img1" src="~/image/Layer 12 copy 2 2.png"/>
            <img class="frame-3933-5-img2" src="~/image/Group 50 2.png"/>
        </div>

        <span class="frame-3933-6">
            Bộ xử lý Intel® Core™ thế hệ thứ 12 được thiết kế để mang đến trải nghiệm chơi game
            hiệu năng cao mà bạn chưa từng nghĩ sẽ có trên dòng máy tính xách tay.
        </span>

        <div class="frame-3933-7">Máy tính xách tay chơi game mạnh mẽ.</div>
        <img class="frame-3933-img-2" src="~/image/H2_Panel_4_Desk 1.png"/>
        <img class="frame-3933-img-3" src="~/image/Vector Smart Object copy 1.png"/>
        <img class="frame-3933-img-4" src="~/image/Layer 574 1.png"/>
        <img class="frame-3933-img-5" src="~/image/Layer 569 1.png"/>
    </div>


    <div class="frame-3935">
        <div>
            <div class="frame-3935-1"></div>
            <div class="frame-3935-2"></div>
        </div>
        <div class="Layer-574"></div>
        <img class="frame-39333" src="~/image/Frame 3933.png" />
        
        <div class="frame-items">
            @for (int i = 0; i < 10; i++)
            {
            <div class="frame-item">
                <div class="item-discount ">Trả góp 0%</div>
                <div class="item-main">
                    <img class="item-img " src="~/image/macbook-air-m1-2020-gray-600x600.jpg" />
                    <h3 class="item-name ">Laptop Apple MacBook Pro M1 2020/16GB/256GB</h3>
                </div>
                
                <div class="item-ram-harddriver">
                    <span>RAM 8 GB</span>
                    <span>SSD 512 GB</span>
                </div>
                <span class="item-online">Online giá rẻ</span>
                <div class="item-price">
                    <span class="price-old">49.990.000₫</span>
                    <span class="percent">-19%</span>
                </div>
                <strong class="price">40.090.000₫</strong>
                <span class="item-gift">Quà 100.000₫</span>
                <div class="item-detail">
                    <p>● M.HÌNH <span>14", 4k</span></p>
                    <p>● CPU <span>i7 1185G7, 3GHz</span></p>
                    <p>● CARD <span>Intel Iris Xe</span></p>
                    <p>● PIN <span>60Wh</span></p>
                </div>
               
            </div>
            }
        </div>
        <div class="frame-show-all-items">
            <span class="frame-show-all-items-text">
                xem tất cả laptop INTEL THẾ HỆ 12
            </span>
        </div>
    </div>



    <div class="frame-3934">
        <div class="frame-3934-text">TIN TỨC NỔI BẬT</div>
        <div class="frame-3934-content">
            <div class="frame-3934-content-1">
                

                <div >
                    <iframe class="frame-3934-content-1-youtube"  src="https://www.youtube.com/embed/Knapg9zf2IA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                @*<img class="frame-3934-content-1-youtube" src="~/image/youtube.png"/>*@
                <div class="f3c1-posts">
                    @for (int i = 0; i < 3; i++)
                    {
                        <div class="f3c1-post">
                            <img class="f3c1p-img" src="~/image/msi.jpg" />
                            <div class="f3c1-post-text">
                                <strong class="f3c1pt-title">[CES] Công bố dự CPU Ryzen 6000 Mobile series cho</strong>
                                <span class="f3c1pt-content">Đúng như dự kiến, ADM đã chính thức công bố CPU Ryzen 6000 Mobile series mới của mình</span>
                                <span class="f3c1pt-dv"><span class="f3c1pt-d">05/1</span> | <span class="f3c1pt-v">3.736 người đã đọc</span></span>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="frame-3934-conten-2">
                <span class="f3c2-text">THẢO LUẬN VỀ LAPTOP</span>
                <button class="f3c2-img-1">Thích 75K</button>
                <button class="f3c2-img-2">Chia sẻ</button>
                @*<img class="f3c2-img-1" src="~/image/like.png"/>
                <img class="f3c2-img-2" src="~/image/share.png"/>/*@
            </div>
        </div>
        @*<img class="frame-3934-img" src="~/image/Ảnh chụp Màn hình 2022-05-03 lúc 17.06 1.png"/>*@
    </div>
</div>

